#ads{
  position: absolute;
  width: 425px;
  max-width: 50%;
  left: 50%;
  top: 145px;
  margin: auto;
  overflow: hidden;
  z-index: 0;
}

.ad{
  margin: 0 0 20px 295px;
  width: 130px;
  font-size: 11px;
  line-height: 1.2;
}

.ad .props{
  margin-top: 10px;
}

#ads, #ads a{
  color: #888;
}

.influads_powered_div{
  display: none;
}
