#ads{
  position: absolute;
  width: 425px;
  max-width: 50%;
  left: 50%;
  top: 145px;
  margin: auto;
  overflow: hidden;
  z-index: 0;
}

.ad{
  margin: 0 0 20px 295px;
  width: 130px;
  font-size: 11px;
  line-height: 1.2;
}

.ad a{
  color: #888;
  font-weight: 500;
}

div.influads_powered_div{
  margin-top: 5px;
}

a.influads_text_a{
  font-size: 11px;
}

a.influads_powered_link{
  font-size: 10px;
}
