pre{
  background-color: #2b2b2b;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  padding: 20px;
  margin: 1em 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  -webkit-border-radius: 5px;
}

code {
  font-size: 80%;
  line-height: 150%;
  font-family: "Bitstream Vera Sans Mono", "Monaco", "Courier New", monospace;
}

.highlight .hll { background-color: #e6e1dc }
.highlight .c { color: #bc9458; font-style: italic } /* Comment */
.highlight .err { color: #ffc66d } /* Error */
.highlight .k { color: #cc7833 } /* Keyword */
.highlight .n { color: #f0f0f0 } /* Name */
.highlight .o { color: #f0f0f0 } /* Operator */
.highlight .p { color: #f0f0f0 } /* Punctuation */
.highlight .cm { color: #bc9458; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #bc9458; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #bc9458; font-style: italic } /* Comment.Single */
.highlight .cs { color: #bc9458; font-style: italic } /* Comment.Special */
.highlight .kc { color: #cc7833 } /* Keyword.Constant */
.highlight .kd { color: #cc7833 } /* Keyword.Declaration */
.highlight .kn { color: #cc7833 } /* Keyword.Namespace */
.highlight .kp { color: #cc7833 } /* Keyword.Pseudo */
.highlight .kr { color: #da4939 } /* Keyword.Reserved */
.highlight .kt { color: #5a647e } /* Keyword.Type */
.highlight .m { color: #a5c261 } /* Literal.Number */
.highlight .s { color: #a5c261 } /* Literal.String */
.highlight .na { color: #da4939 } /* Name.Attribute */
.highlight .nb { color: #6d9cbe } /* Name.Builtin */
.highlight .nc { color: #ffc66d } /* Name.Class */
.highlight .no { color: #6d9cbe } /* Name.Constant */
.highlight .nd { color: #da4939 } /* Name.Decorator */
.highlight .ni { color: #f0f0f0 } /* Name.Entity */
.highlight .ne { color: #f0f0f0 } /* Name.Exception */
.highlight .nf { color: #ffc66d } /* Name.Function */
.highlight .nl { color: #f0f0f0 } /* Name.Label */
.highlight .nn { color: #f0f0f0 } /* Name.Namespace */
.highlight .nx { color: #f0f0f0 } /* Name.Other */
.highlight .py { color: #f0f0f0 } /* Name.Property */
.highlight .nt { color: #e8bf6a } /* Name.Tag */
.highlight .nv { color: #f0f0f0 } /* Name.Variable */
.highlight .ow { color: #cc7833 } /* Operator.Word */
.highlight .w { color: #f0f0f0 } /* Text.Whitespace */
.highlight .mf { color: #a5c261 } /* Literal.Number.Float */
.highlight .mh { color: #a5c261 } /* Literal.Number.Hex */
.highlight .mi { color: #a5c261 } /* Literal.Number.Integer */
.highlight .mo { color: #a5c261 } /* Literal.Number.Oct */
.highlight .sb { color: #a5c261 } /* Literal.String.Backtick */
.highlight .sc { color: #a5c261 } /* Literal.String.Char */
.highlight .sd { color: #a5c261 } /* Literal.String.Doc */
.highlight .s2 { color: #a5c261 } /* Literal.String.Double */
.highlight .se { color: #da4939 } /* Literal.String.Escape */
.highlight .sh { color: #a5c261 } /* Literal.String.Heredoc */
.highlight .si { color: #a5c261 } /* Literal.String.Interpol */
.highlight .sx { color: #a5c261 } /* Literal.String.Other */
.highlight .sr { color: #a5c261 } /* Literal.String.Regex */
.highlight .s1 { color: #a5c261 } /* Literal.String.Single */
.highlight .ss { color: #a5c261 } /* Literal.String.Symbol */
.highlight .bp { color: #f0f0f0 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f0f0f0 } /* Name.Variable.Class */
.highlight .vg { color: #f0f0f0 } /* Name.Variable.Global */
.highlight .vi { color: #f0f0f0 } /* Name.Variable.Instance */
.highlight .il { color: #a5c261 } /* Literal.Number.Integer.Long */
