div#ads{
  position:relative;
  top:0;
  left:0;
}

div#adzerk{
  width:450px;
  margin: 0 0 10px 10px;
  height: 90px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:5px;
}

div#adzerk img{
  float: left;
}

div#adzerk p{
  width:320px;
  text-align: right;
  float:right;
}

div#sixsync{
  display:none;
}