#container{
  width: 550px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.content{
  margin-top: -1em;
}

h1{
  float: left;
}

h2{
  clear: both;
}

ul#menu{
  float: right;
  padding: 10px 0 10px;
}

ul#menu li{
  display: inline;
  margin-left: 10px;
}

ul#menu form{
  display: inline;
}

ul#articles{
  list-style-type: none;
}

ul#articles li, div.result{
  margin-bottom: 30px;
}

ul#articles p, div.result p{
  margin: 0;
}

.content img{
  width: 100%;
  -webkit-border-radius: 5px;
}
