html
{
  overflow-y:scroll;
}

body
{
  -moz-background-size:100% auto;
  -webkit-background-size:100% auto;
  -o-background-size:100% auto;
  background-attachment:fixed;
  background-color:#222;
  background-image:url('../images/background.jpg');
  background-position:center;
  background-size:100% auto;
}

p,h2,h3,h4,h5,h6,ul
{
  margin:20px 0;
}

a
{
  color:#000;
  font-weight:900;
  text-decoration:none;
}

a:hover
{
  color:#444;
}

div#wrapper
{
  -moz-border-radius:5px;
  -moz-box-shadow:0 1px 0 #fff;
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 1px 0 #fff;
  background-color:#eee;
  border-radius:5px;
  box-shadow:0 1px 0 #fff;
  color:#222;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:15px;
  line-height:150%;
  margin:50px auto;
  opacity:0.9px;
  padding:20px;
  text-shadow:0 1px 0 #fff;
  width:450px;
}

div#header
{
  font-size:13px;
  margin:0 0 45px;
}

div#header ul
{
  float:right;
  margin:0;
}

div#header li
{
  float:left;
  margin:0 0 0 20px;
}

h1
{
  -moz-border-radius:5px;
  -moz-box-shadow:0 1px 0 #fff;
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 1px 0 #fff;
  background-color:#222;
  border-radius:5px;
  box-shadow:0 1px 0 #fff;
  color:#fff;
  display:inline;
  float:left;
  font-weight:400;
  line-height:150%;
  padding:10px;
  text-shadow:0 1px 0 #000;
}

h1 a
{
  color:#fff;
  font-weight:400;
}

ul.columns
{
  -moz-column-gap:20px;
  -moz-column-width:215px;
  -webkit-column-gap:20px;
  -webkit-column-width:215px;
  column-gap:20px;
  column-width:215px;
}

h2
{
  font-size:34px;
}

h2,h3,h4,h5,h6
{
  font-weight:900;
  line-height:100%;
}

img
{
  -moz-border-radius:5px;
  -moz-box-shadow:0 1px 0 #fff;
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 1px 0 #fff;
}

hr
{
  clear:both;
  visibility:hidden;
}
