@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);

html
{
  overflow-x:hidden;
  overflow-y:scroll;
}

body
{
  -moz-background-size:100% auto;
  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  background-attachment:fixed;
  background-color:#222;
  background-image:url('../images/background.jpg');
  background-position:center;
  background-size:100% auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2,h3,h4,h5,h6
{
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

p,h2,h3,h4,h5,h6,ul
{
  margin:20px 0;
}

a, strong{
  font-weight: 900;
}

a
{
  color:#000;
  text-decoration:none;
}

a img{
  vertical-align: middle;
}

span#eighty{
  color:#007236;
}

span#beans{
  color:#72bf44;
}

a:hover, a:hover span#eighty, a:hover span#beans
{
  color:#444;
}

div#wrapper
{
  background-image: url('/images/gradient.png');
  background-position: center;
  background-repeat: repeat-y;
  min-width:490px;
  overflow:hidden;
}

div#inner{
  width:490px;
  margin:50px auto;
  position:relative;
}

div#container
{
  -moz-border-radius:5px;
  -moz-box-shadow:0 1px 0 #fff;
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 -1px 0 #fff, 0 0 10px #222;
  background-color:#eee;
  border-radius:5px;
  box-shadow:0 1px 0 #fff;
  color:#222;
  font-size:15px;
  line-height:150%;
  opacity:0.9px;
  width:450px;
  padding:20px;
  text-shadow:0 1px 0 #fff;
  position:relative;
  z-index: 1;
}

div#content img, div#content object
{
  -moz-border-radius:5px;
  -moz-box-shadow:0 1px 0 #fff;
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 1px 0 #fff;
  border: 5px #222 solid;
  width: 440px;
}


div#header
{
  font-size:12px;
  margin:0 0 65px;
}

div#header ul
{
  float:right;
  margin: 8px -20px 0 0;
}

div#header li
{
  float:left;
  margin:0 20px 0 0;
}

div.post
{
  margin:50px 0 0;
}

div.post h3,div.post p
{
  margin:5px 0;
}

div#ads{
  position:absolute;
  top: 110px;
  right: -140px;
}

div.ad{
  margin: 0px 0px 25px 0px;
}

div.box{
  width: 120px;
  background-color: #222;
  padding: 10px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomright:5px;
  -moz-box-shadow:0 -1px 0 #444;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -webkit-box-shadow:0 -1px 0 #444, 0 0 10px #222;
  z-index:0;
}

div.box, div.box a
{
  color:#fff;
  font-size: 11px;
  line-height: 130%;
  text-shadow:0 1px 0 #000;
}

div#box a:hover
{
  color: #ddd;
}

div.box p
{
  margin:10px 0 0 0;
}

div#webbynode
{
  padding: 0px 5px;
}

h1
{
  -moz-border-radius:5px;
  -moz-box-shadow:0 1px 0 #fff;
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 1px 0 #fff;
  background-color:#222;
  border-radius:5px;
  box-shadow:0 1px 0 #fff;
  color:#fff;
  display:inline;
  float:left;
  font-weight:400;
  line-height:150%;
  padding:10px;
  text-shadow:0 1px 0 #000;
}

h1 a
{
  color:#fff;
  font-weight:400;
}

h1 span{
  display: none;
  text-align: right;
  font-size: 10px;
  letter-spacing: 1px;
}

h1:hover span
{
  display: block;
}

h2
{
  font-size:43px;
}

h3
{
  font-size:28px;
}

h4
{
  font-size:21px;
}

h2,h3,h4,h5,h6
{
  font-weight:900;
  line-height:100%;
}

ul.columns
{
  -moz-column-gap:20px;
  -moz-column-width:215px;
  -webkit-column-gap:20px;
  -webkit-column-width:215px;
  column-gap:20px;
  column-width:215px;
}

.small, .small a, p.date, p.date a, p#footnote, p#footnote a, del, del a
{
  color:#888;
}

.small, p#footnote
{
  font-size:13px;
}

hr
{
  clear:both;
  visibility:hidden;
}

hr.right
{
  clear:right;
}

#content code,pre
{
  font-family:"Monaco", "Courier New", monospace;
  font-size: 12px;
  line-height: 150%;
}

pre{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}


div#content pre
{
  -moz-border-radius:5px;
  -moz-box-shadow:0 -1px 0 #444;
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 -1px 0 #444;
  background-color:#222;
  color:#fff;
  font-size: 13px;
  padding: 20px;
  text-shadow:0 1px 0 #000;
  width: 490px;
  margin: 0px 0px 0px -40px;
}

div.notice
{
  -moz-border-radius:5px;
  -moz-box-shadow:0 -1px 0 #fffddd;
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 -1px 0 #fffddd;
  background-color:#fffbbb;
  padding: 20px;
  text-shadow:0 1px 0 #dddaaa;
  width: 490px;
  margin: 0px 0px 5px -40px;
}

em{
  font-style:italic;
}

blockquote{
  padding: 0px 0px 0px 10px;
  font-style:italic;
}

div#disqus_thread{
  margin: 20px 0px 0px 0px;
}

div.dsq-options, div.dsq-sharing-options, div.dsq-dc-logo, div#dsq-global-toolbar, div#dsq-pagination{
  display:none !important;
}

p.article_date{
  float:left;
}

span.article_buttons{
  margin:20px 0;
  float:right;
  text-align: right;
}

span.article_buttons a{
  display:block;
}

a:hover span.balloon{
  display: inline;
}

span.balloon{
  background-color: #222;
  color: #fff;
  font-size: 10px;
  padding:3px 5px;
  -moz-border-radius:5px;
  -moz-box-shadow:0 -1px 0 #444;
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 -1px 0 #444;
  text-shadow:0 1px 0 #000;
  font-weight: 500;
  margin: 0 5px;
  display:none;
  line-height: 16px;
}

img#mo{
  margin: -10px 0px -45px -75px;
}

img#mo:hover{
  margin: -12px 0px -43px -75px;
}
