body{
  background-color: #eee;
  background-image: url('../images/background.gif');
  background-repeat:repeat-x;
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Airal, sans-serif;
  font-size: 15px;
  line-height: 150%;
  text-shadow: 0px 1px 0px #fff;
}

div#wrapper{
  min-width:380px;
  max-width: 580px;
  margin: 50px auto;
  padding:0px 10px;
}

div#header{
  font-size: 13px;
}

ul{
  float: right;
}

li{
  float: left;
  margin: 0px 0px 0px 10px;
}

li a{
  background-color: #ddd;
}

li a:hover{
  background-color: #ccc;
}

h1{
  background-color: #444;
  color: #eee;
  text-shadow: 0px 1px 0px #000;
}

h1, li a{
  display: inline;                                    
  padding: 3px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  
  -moz-box-shadow: 0px 1px 0px #fff;
  -webkit-box-shadow: 0px 1px 0px #fff;
  box-shadow: 0px 1px 0px #fff;
}

h2{
  font-weight: 900;
  font-size: 26px;
  line-height: 125%;
}

a{
  color: #222;
  text-decoration: none;
}

hr{
  margin: 25px 0px;
  border: none;
  border-top:1px solid;
  border-color: #ddd;
}
