@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../OpenSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Intro';
  font-style: normal;
  font-weight: 500;
  src: local('Intro'), local('Intro'), url('../Intro.woff') format('woff');
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #2b2b2b;
}

#menu{
  font-size: 80%;
}

a{
  color: #4b4b4b;
  text-decoration: none;
  font-weight: 900;
}

a:hover {
  color: #2b2b2b;
}

h1 a, h1 a:hover {
  color: #fff;
  display: block;
  line-height: 150%;
  background-color: #2b2b2b;
  padding: 10px;
  font-size: 80%;
  -webkit-border-radius: 5px;
}

h2{
  font-family: "Intro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 38px;
  line-height: 100%;
  padding: 50px 0;
  text-rendering: optimizeLegibility;
}

h2, h2 a{
  font-weight: 500;
}

h3{
  font-family: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 140%;
  line-height: 100%;
}

h2 a{
  color: #2b2b2b;
  border-bottom: 3px solid #eee;
}

.date, .small{
  color: #888;
  font-size: 80%;
}

p{
  margin: 1em 0;
}

a.anchor{
  padding-top: 50px;
}

.ad, .ad a{
  font-size: 11px;
  color: #888;
}
