---
layout: default
title: 404. Ouch. The page you were looking for is gone.
excerpt: Ouch. The page you were looking for is gone.
---

<p>Eh. Somehow the page you're looking for vanished. You can go to the <a href="/">homepage</a> or check out the recent articles below to try to find what you're looking for.</p>

<ul id="articles">
{% for post in site.posts limit:10 %}
  <li>
    <h3>
    {% if post.elsewhere %}
      <a href="{{ post.elsewhere.url }}">{{ post.title }}</a>
      {% else %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    </h3>
    <span class="date">{{ post.date | date_to_string }}
      {% if post.author %}
        by <a href="http://twitter.com/{{ post.author.twitter }}" title="{{ post.author.full}}">@{{ post.author.twitter }}</a>
      {% endif %}
    </span>
    <p>
      {{ post.excerpt }}
      {% if post.elsewhere %}
        <span class="small">Published as a guest article for <a href="{{ post.elsewhere.main_url }}">{{ post.elsewhere.name}}</a>.</span>
      {% endif %}
    </p>
  </li>
{% endfor %}
</ul>
