<li>
  <h3><a href="<%= @article.url %>"><%= @article.metadata['title'] %></a></h3>
  <span class="date"><%= @article.metadata['date'] %></span>
  <p><%= @article.metadata['description'] %></p>
</li>
