<!DOCTYPE html>
<meta charset="utf-8"/>
<title>Jeff Kreeftmeijer</title>
<meta name="viewport" content="initial-scale=1, user-scalable=yes">
<meta name="description" content="Jeff Kreeftmeijer is an Elixir/Ruby programmer, writing code and words for AppSignal and Ruby Magic.">
<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
<style>body{font:18px/1.4 -apple-system,sans-serif;margin:auto;max-width:40em;padding:1em}h1,h2,h3,h4,h5,h6{line-height:normal}img{max-width:100%}code{font:0.8em Monaco,monospace}pre{overflow-x:auto}</style>

<%= @inner %>
<hr/>
<nav style="display: flex;justify-content: space-between">
  <a rel="author">Jeff Kreeftmeijer</a>
  <a href="/archive/">Archive</a>
  <a href="https://twitter.com/jkreeftmeijer">Twitter</a>
  <a href="https://github.com/jeffkreeftmeijer">Github</a>
  <a href="/feed.xml">RSS</a>
</nav>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12888762-1', 'auto');
  ga('send', 'pageview');

</script>
