aside{
  position: absolute;
  top: 2.34em;
  left: 50%;
  width: 50%;
  overflow: hidden;
  z-index: -100;
}
aside div{
  margin-left: 22em;
  width: 130px;
}
aside a{
  text-decoration: none;
  color: slategray;
  font-size: 0.7em;
  display: block;
  margin-bottom: 1em;
}
aside .carbon-poweredby{
  font-style: italic;
}
