.ad{
  position: absolute;
  top: 1.34em;
  left: 50%;
  width: 50%;
  overflow: hidden;
  z-index: -100;
}

.ad div{
  display: block;
  width: 130px;
  margin-left: 18.5em;
}

.ad a{
  text-decoration: none;
  color: gray;
  font-size: small;
  display: block;
  margin-bottom: 1em;
}

.cf-powered-by{
  font-style: italic;
}

@media (max-width:1118px){ /* (35 + 2) × 22 + (130 + 22) × 2 */
  .ad{
    display: none;
  }
}
