aside.ad{
  position: absolute;
  top: 1.34em;
  left: 50%;
  width: 50%;
  overflow: hidden;
  z-index: -100;
}

aside.ad img{
  height: 100px;
}

aside.ad div#cf_ad{
  display: block;
  width: 130px;
  margin-left: 22em;
}

aside.ad a{
  text-decoration: none;
  color: gray;
  font-size: small;
  display: block;
  margin-bottom: 1em;
}

.cf-powered-by{
  font-style: italic;
}
