nav{
  display:flex;
  justify-content:space-between;
  margin: 1em 0;
}

/* adoc */

.sidebarblock{
  border: 1px solid lightgray;
  box-shadow: 3px 3px 0 0 whitesmoke;
  padding: 1em;
}

.admonition-block h6{
  float: left;
  height: 1em;
  margin: 0 0.25em 0 0;
  font-size: 1em;
}

.admonition-block{
  padding: 1em;
  margin: 1em 0;
}

.admonition-block p{
  margin: 0;
}

.sidebarblock > *:first-child{
  margin-top: 0;
}

.sidebarblock > *:last-child{
  margin-bottom: 0;
}

.warning{
  background-color: ivory;
}

.caution, .important{
  background-color: lavenderblush;
}

.note, .tip{
  background-color: aliceblue;
}
