nav{
  display:flex;
  justify-content:space-between;
  margin: 1em 0;
}

/* adoc */

figure{
  margin: 0;
}

figcaption, .byline, .small{
  font-size: smaller;
}

dt{
  font-weight: 600;
}

dd{
  margin-bottom: 1em;
}

.image-block img{
  display: block;
  margin: auto;
}

.sidebarblock, .admonition-block{
  border: 1px outset;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em 0;
}

.admonition-block h6{
  font-size: 1em;
  margin: 1em 0;
}

.warning{
  background-color: ivory;
}

.caution, .important{
  background-color: lavenderblush;
}

.note, .tip{
  background-color: aliceblue;
}

.warning h6::before{
  content: "⚠️ ";
}

.tip h6::before{
  content: "💡 ";
}

.note h6::before{
  content: "ℹ️ ";
}
