---
layout: default
home: true
title: Open source enthusiast and Ruby (on Rails) programmer @ <a href="http://80beans.com"><span id="eighty">80</span><span id="beans">beans</span></a>, Amsterdam.
excerpt: Jeff Kreeftmeijer; Open source enthusiast and Ruby (on Rails) programmer @ 80beans, Amsterdam.
---

{% for post in site.posts limit:10 %}
  <div class="post">
    <h3><a href="{{ post.url }}/">{{ post.title }}</a></h3>
    <p class="date">{{ post.date | date_to_string }}
      {% if post.author %}
        by <a href="http://twitter.com/{{ post.author.twitter }}" title="{{ post.author.full}}">@{{ post.author.twitter }}</a>
      {% endif %}
    </p>
    <p>{{ post.excerpt }}</p>
  </div>
{% endfor %}

<p id="footnote">
  Didn't find what you were looking for? There's more in the <a href="/archive">archive</a>.
</p>
