<h4>Newest:</h4>
<ul class="articles">
  <% @articles.each do |article| %>
    <%= render :article, {:article => article} %>
  <% end %>
</ul>

<p class="small more">
  Of course, there are <a href="/archive">more articles in the archive</a>.
</p>
