---
layout: default
title: Navvy
excerpt: "Navvy: A simple Ruby background job processor inspired by delayed_job, but aiming for database agnosticism."
---
<p>Simple Ruby background job processor inspired by <a href="http://github.com/collectiveidea/delayed_job">delayed_job</a>, but aiming for database agnosticism.</p>

<img src="../images/navvy.jpg" alt="Navvy"/>

<ul class="columns">
  <li><a href="http://github.com/jeffkreeftmeijer/navvy">Github &rarr; </a></li>
  <li><a href="http://rubygems.org/gems/navvy">RubyGems &rarr; </a></li>
  <li><a href="http://wiki.github.com/jeffkreeftmeijer/navvy">Wiki &rarr; </a></li>
  <li><a href="http://yardoc.org/docs/jeffkreeftmeijer-navvy">Documentation &rarr; </a></li>
  <li><a href="http://github.com/jeffkreeftmeijer/navvy/issues">Issue tracker &rarr; </a></li>
</ul>

{% for post in site.categories.navvy %}
  <div class="post">
    <h3><a href="{{ post.url }}/">{{ post.title }}</a></h3>
    <p class="date">{{ post.date | date_to_string }}
      {% if post.author %}
        by <a href="http://twitter.com/{{ post.author.twitter }}" title="{{ post.author.full}}">@{{ post.author.twitter }}</a>
      {% endif %}
    </p>
    <p>{{ post.excerpt }}</p>
  </div>
{% endfor %}

