<span class="date"><%= @current.metadata['date'] %></span>

<div class="content">
  <%= yield %>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript" async="true" src="http://jeffkreeftmeijer.disqus.com/embed.js"></script>
