<span class="date"><%= @current.metadata['date'] %></span>

<div class="content">
  <%= yield %>
</div>

<iframe name="actually" data-token="f6b716ab09fca3e386cfceb1f4a9345a" style="border: none; width: 100%;"></iframe>
<script type="text/javascript" defer="true" src="http://actually.io/assets/actually.js"></script>
