<%= @contents %>
<aside class="ad" id="codefund_ad">
  <script async src="https://codefund.io/scripts/48fc837b-75ff-48f2-9cf2-3f52281d7721/embed.js"></script>
  <script>window._codefund_theme = '';</script>
</aside>
