<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="jeff kreeftmeijer, jeffkreeftmeijer" />
  <meta name="description" content="{{ page.excerpt }}" />
  <title>
    {% unless page.home %}{{ page.title }} - {% endunless %} Jeff Kreeftmeijer
  </title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/jeffkreeftmeijer" />
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="/images/icon.jpg" rel="apple-touch-icon" />
</head>
<body>
  <div id="container">
    <h1>
      {% if page.home %}
        <a href="/">Jeff Kreeftmeijer</a>
      {% else %}
        <a href="/">&larr; Jeff Kreeftmeijer</a>
      {% endif %}
    </h1>

    <ul id="menu">
      <li><a href="/archive">Archive</a></li>
      <li><a href="/contact">Contact</a></li>
      <li>
        <form action="/search/" method="get">
          <input type="search" name="query" placeholder="Search"/>
        </form>
      </li>
    </ul>
    <h2>{{ page.title }}</h2>
    {{ content }}
  </div>

  <div id="ads">
    <div class="ad">
      <div id='influads_block' class='influads_block'></div>
    </div>

    <ul class="props">
      <li>Ads by <a href="http://influads.com">InfluAds</a></li>
      <li>Hosted by <a href="http://6sync.com">6sync</a></li>
    </div>
  </div>

  <script type="text/javascript" async="true" defer="true" src="http://engine.influads.com/show/130/nocss/acc_826d563_pub"></script>
  <script type="text/javascript" async="true" id="gauges-tracker" data-site-id="4d62819ef0d8804188000010" src="http://secure.gaug.es/track.js"></script>
  <script type="text/javascript" async="true" src="http://www.google-analytics.com/ga.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12888762-1']);
    _gaq.push(['_trackPageview']);
  </script>
</body>
</html>
