<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=550, maximum-scale=1.0" />
  <meta name="keywords" content="jeff kreeftmeijer, jeffkreeftmeijer" />
  <meta name="description" content="{{ page.excerpt }}" />
  <title>
    {% unless page.home %}{{ page.title }} - {% endunless %} Jeff Kreeftmeijer
  </title>
  {{ page.head }}
  <link rel="stylesheet" href="/css/reset.css" type="text/css" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/jeffkreeftmeijer" />
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1>
        {% if page.home %}
         Jeff Kreeftmeijer
        {% else %}
          <a href="/">&larr; Jeff Kreeftmeijer</a>
        {% endif %}
      </h1>
      <ul>
        <li>
          <a href="/navvy">Navvy</a>
        </li>
        <li>
          <a href="/archive">Archive</a>
        </li>
        <li>
          <a href="http://github.com/jeffkreeftmeijer">Github &rarr;</a>
        </li>
        <li>
          <a href="http://twitter.com/jkreeftmeijer">Twitter &rarr;</a>
        </li>
      </ul>
      <hr/>
    </div>
    <h2>{{ page.title }}</h2>
    {{ content }}
  </div>
  <div id="footer">
    <a href="http://feeds.feedburner.com/jeffkreeftmeijer">
      <img src="/images/feed.png"/>
    </a>
  </div>

  <script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
  <script src="//static.woopra.com/js/woopra.v2.js" type="text/javascript"></script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-12888762-1");
      pageTracker._trackPageview();
    } catch(err){}

    woopraTracker.track();
  </script>
</body>
</html>
