---
layout: default
---

{% if page.author %}
  This is a guest post written by <a href="http://twitter.com/{{ page.author.twitter }}" title="{{ page.author.full}}">@{{ page.author.twitter }}</a>. {{ page.author.description }}
{% endif %}

<p class="date">{{page.date | date_to_string}}</p>
{{ content }}

<p id="footnote">
  No comments here, feel free to reply via <a href="http://twitter.com/jkreeftmeijer">Twitter</a>{% if page.hackernews %} or join the discussion on <a href="http://news.ycombinator.com/item?id={{ page.hackernews }}">Hacker News</a>{% endif %}.
</p>
